/* Start Sidebar Wrapper */

.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
}

/* End Sidebar Wrapper */

/* Start Left Sidebar */

.leftNavbarContainer {
  height: 100%;
  border-right: 1px solid var(--AlmostWhite);
  background: var(--White);
  padding: 12px 7.5px;
  z-index: 10;
}
.rightNavbarContainer {
  height: 100%;
  padding: 12px 7px 0 8px;
  z-index: 9;
}
.iconMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.topSubMenu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.topSubIcon {
  display: flex;
  flex-direction: column;
  padding: 4px 8px 8px 8px;
}
.hamBars {
  display: none;
}
.bottomSubMenu {
  padding: 4px 8px;
}
.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--LightGray);
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  font-size: 16px;
  color: var(--White);
}

/* Start Left Sidebar */

/* Start Right Sidebar */

.navbarMenu {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1px solid var(--AlmostWhite);
}

/* Start Sidebar Header */

.navbarMenu > h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 18.2px;
  padding: 8px 9px 12px 8px;
  margin: 0;
}
.navbarMenu > p {
  font-size: 10px;
  font-weight: 500;
  line-height: 18.2px;
  padding: 0 9px 12px 8px;
  margin: 0;
}
.navbarMenu label {
  padding: 0 9px 12px 8px;
}
.searchLabel {
  position: relative;
  display: flex;
  gap: 10px;
  padding: 0 8px 12px 8px;
  margin: 0;
}
.search {
  border: none;
  background: url("../images/Search.svg") no-repeat scroll 7px 7px;
  background-color: var(--SearchBar);
  height: 24px;
  padding: 4px;
  margin: 0;
}
.search::placeholder {
  font-size: 10px;
  position: relative;
  left: 20px;
}

/* End Sidebar Header */

/* Start Links List */

.navList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navLinks {
  position: relative;
  font-size: 14px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
}
.navItem {
  font-size: 14px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
.active {
  background: var(--HighlightPurple);
}
.navTitle {
  display: flex;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  gap: 8px;
  color: var(--Gray);
  font-weight: 600;
  position: relative;
  font-size: 14px;
  line-height: 18.2px;
  padding: 8px 12px;
  border-radius: 8px;
  width: 100%;
}
.navTitle:hover {
  background: var(--HighlightPurple);
}
.navDropdown {
  color: var(--Gray);
  font-size: 14px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.innerNav {
  padding: 8px 0;
}
.dropdownLinks {
  padding: 8px 12px;
  border-radius: 8px;
  color: var(--Gray);
  font-weight: 600;
}
.dropdownLinks:hover {
  background: var(--HighlightPurple);
}
.listIcon rect {
  fill: var(--ActiveIconColor);
}
.ActiveIconColor rect {
  fill: var(--IconColor);
}

/* Start Links List */
/* End Right Sidebar */

/* Media Queries */

@media screen and (max-width: 768px) {
  .hamBars {
    display: flex;
  }
  .hide {
    display: none;
  }
  .slideIn {
    display: flex;
    background: var(--White);
    animation: slideIn 0.5s forwards;
    -webkit-animation: slideIn 0.5s forwards;
  }
  .slideOut {
    background: var(--White);
    animation: slideOut 0.5s forwards;
    -webkit-animation: slideOut 0.5s forwards;
  }
  
  @keyframes slideIn {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
  }
  
  @-webkit-keyframes slideIn {
    0% { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(0%); }
  }
  
  @keyframes slideOut {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
  
  @-webkit-keyframes slideOut {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
  } 
}
