a {
  text-decoration: none;
}
.navbar {
  position: fixed;
  top: 0;
  background-color: var(--White);
  max-width: 274px;
  height: 100vh;
}
.leftNavbarContainer {
  border-right: 1px solid var(--AlmostWhite);
  padding: 12px 7.5px;
}
.rightNavbarContainer {
  padding: 12px 7px 0 8px;
}
.sidebar {
  height: 100%;
  width: 100%;
  display: flex;
  background: var(--NavBackground);
}
.iconMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.topSubMenu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.topSubIcon {
  display: flex;
  flex-direction: column;
  padding: 4px 8px 8px 8px;
}
.hamBars {
  display: none;
}
.bottomSubMenu {
  padding: 4px 8px;
}
.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--LightGray);
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  font-size: 16px;
  color: var(--White);
}
.navbarMenu {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1px solid var(--AlmostWhite);
}
.navbarMenu > h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 18.2px;
  padding: 8px 8px 12px 8px;
  margin: 0;
}
.navbarMenu > p {
  font-size: 10px;
  font-weight: 500;
  line-height: 18.2px;
  padding: 0 8px 12px 8px;
  margin: 0;
}
.searchLabel {
  position: relative;
  display: flex;
  gap: 10px;
  padding: 0 8px 12px 8px;
  margin: 0;
}
.search {
  border: none;
  background: url("../images/Search.svg") no-repeat scroll 7px 7px;
  background-color: var(--SearchBar);
  height: 24px;
  padding: 4px;
  margin: 0;
}
.search::placeholder {
  font-size: 10px;
  position: relative;
  left: 20px;
}
.navList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navLinks {
  position: relative;
  font-size: 14px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
}
.navItem {
  font-size: 14px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
.active {
  background: var(--HighlightPurple);
}
.navTitle {
  display: flex;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  gap: 8px;
  color: var(--Gray);
  font-weight: 600;
  position: relative;
  font-size: 14px;
  line-height: 18.2px;
  padding: 8px 12px;
  border-radius: 8px;
  width: 100%;
}
.navTitle:hover {
  background: var(--HighlightPurple);
}
.navDropdown {
  color: var(--Gray);
  font-size: 14px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.innerNav {
  padding: 8px 0;
}
.dropdownLinks {
  padding: 8px 12px;
  border-radius: 8px;
  color: var(--Gray);
  font-weight: 600;
}
.dropdownLinks:hover {
  background: var(--HighlightPurple);
}
@media screen and (max-width: 768px) {
  .hamBars {
    display: flex;
  }
  .hide {
    display: none;
  }
}
